version: '2'

services:
  redis-commander:
    image: 0x59/redis-commander:latest
    ports:
      - "8081:8081"
    command: --port 8081 --redis-host redis
    links:
      - redis
  redis:
    image: redis
    ports:
      - "27017:27017"
